In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\vkris\Downloads\flipkart_com-ecommerce_sample.csv\flipkart_com-ecommerce_sample.csv")

In [3]:
df.dropna(thresh=5,inplace=True)

In [5]:
df1 = df.copy()

In [6]:
df1['retail_price'].fillna(df1['retail_price'].mean(),inplace=True)

In [11]:
df2 = df1.groupby(['brand','product_name'])[['retail_price','discounted_price']].mean().reset_index()

In [12]:
df2.head()

,brand,product_name,retail_price,discounted_price
0,1OAK,1OAK Women's Floral Print Casual Shirt,899.0,675.0
1,1OAK,1OAK Women's Polka Print Casual Shirt,799.0,599.0
2,3D Mat,3D Mat Floor Car Mat Toyota Innova,7250.0,6999.0
3,3a AUTOCARE,3a AUTOCARE Car Mat Chevrolet Beat,2250.0,1490.0
4,3a AUTOCARE,3a AUTOCARE Car Mat Honda City,2800.0,1850.0

In [13]:
df3 = df.copy()

In [ ]:
def func(val):
    for

In [19]:
df3['retail_price'] = df3['retail_price'].fillna(df3.groupby('product_name')['retail_price'].transform('mean'))

In [27]:
df3['discounted_price'] = df3['discounted_price'].fillna(df3.groupby('product_name')['discounted_price'].transform('mean'))

In [33]:
df3['discounted_price'].fillna(df3['discounted_price'].mean(),inplace=True)

In [35]:
df3.drop(['crawl_timestamp','product_url','product_category_tree','image','description','product_specifications','uniq_id'],inplace = True,axis=1)

In [36]:
df3.head()

,product_name,pid,retail_price,discounted_price,is_FK_Advantage_product,product_rating,overall_rating,brand
0,Alisha Solid Women's Cycling Shorts,SRTEH2FF9KEDEFGF,999.0,379.0,False,No rating available,No rating available,Alisha
1,FabHomeDecor Fabric Double Sofa Bed,SBEEH3QGU7MFYJFY,32157.0,22646.0,False,No rating available,No rating available,FabHomeDecor
2,AW Bellies,SHOEH4GRSUBJGZXE,999.0,499.0,False,No rating available,No rating available,AW
3,Alisha Solid Women's Cycling Shorts,SRTEH2F6HUZMQ6SJ,699.0,267.0,False,No rating available,No rating available,Alisha
4,Sicons All Purpose Arnica Dog Shampoo,PSOEH3ZYDMSYARJ5,220.0,210.0,False,No rating available,No rating available,Sicons

In [38]:
df3['product_name'].nunique()

12676

In [39]:
df['product_category_tree'] = df['product_category_tree'].apply(lambda x : x.split('>>')[0][2:].strip())

In [43]:
df['product_category_tree']

0            Clothing
1           Furniture
2            Footwear
3            Clothing
4        Pet Supplies
             ...
19995       Baby Care
19996       Baby Care
19997       Baby Care
19998       Baby Care
19999       Baby Care
Name: product_category_tree, Length: 20000, dtype: object

In [45]:
top_fiv_gen = list(df.groupby('product_category_tree').count().sort_values(by='uniq_id',ascending=False).head(5).index)

In [44]:
df.groupby('product_category_tree').count().sort_values(by='uniq_id',ascending=False).head(5)

,uniq_id,crawl_timestamp,product_url,product_name,pid,retail_price,discounted_price,image,is_FK_Advantage_product,description,product_rating,overall_rating,brand,product_specifications
product_category_tree,,,,,,,,,,,,,,
Clothing,6198,6198,6198,6198,6198,6171,6171,6198,6198,6197,6198,6198,3153,6193
Jewellery,3531,3531,3531,3531,3531,3522,3522,3531,3531,3531,3531,3531,3531,3530
Footwear,1227,1227,1227,1227,1227,1225,1225,1227,1227,1227,1227,1227,377,1225
Mobiles & Accessories,1099,1099,1099,1099,1099,1097,1097,1099,1099,1099,1099,1099,1099,1098
Automotive,1012,1012,1012,1012,1012,1010,1010,1012,1012,1012,1012,1012,1012,1012

In [46]:
top_fiv_gen

['Clothing', 'Jewellery', 'Footwear', 'Mobiles & Accessories', 'Automotive']

In [48]:
processed_df = df[df['product_category_tree'].isin(top_fiv_gen)][['product_category_tree','description']]

In [49]:
processed_df

      product_category_tree                                        description
0                  Clothing  Key Features of Alisha Solid Women's Cycling S...
2                  Footwear  Key Features of AW Bellies Sandals Wedges Heel...
3                  Clothing  Key Features of Alisha Solid Women's Cycling S...
6                  Clothing  Key Features of Alisha Solid Women's Cycling S...
8                  Footwear  Key Features of dilli bazaaar Bellies, Corpora...
...                     ...                                                ...
19936              Footwear  Flipkart.com: Buy Purple Women Heels only for ...
19941              Footwear  Flipkart.com: Buy Pinq Chiq Women Heels only f...
19953              Footwear  Flipkart.com: Buy La Isla Women Heels only for...
19958              Footwear  Flipkart.com: Buy We Witches Comfy Hues Women ...
19962              Footwear  Flipkart.com: Buy Stylistry Women Heels only f...

[13067 rows x 2 columns]

In [50]:
cat_list = list(processed_df['product_category_tree'].unique())

In [51]:
cat_list

['Clothing', 'Footwear', 'Automotive', 'Mobiles & Accessories', 'Jewellery']

In [54]:
category_encoded=le.fit_transform(processed_df['product_category_tree'])

In [53]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [55]:
category_encoded

array([1, 2, 1, ..., 2, 2, 2])

In [56]:
processed_df['product_category_tree'] = category_encoded

In [57]:
X_train, X_test, y_train, y_test = train_test_split(processed_df['description'],processed_df['product_category_tree'],test_size=0.2)